@charset "UTF-8";
:root {
  --color-brand: #2B7FFF;
  --primary-dark: #011C44;
  --primary-light: #FFFFFF;
  --secondary-dark: #011F4A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.17;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

a {
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

span {
  font-weight: 600;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.btn {
  color: var(--primary-light);
  font-size: 18px;
  font-weight: 600;
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 32px;
  cursor: pointer;
  padding: 16px 32px;
  transition: 0.5s;
}

.btn:hover {
  background-color: transparent;
  color: var(--primary-dark);
}

.button-prev {
  display: none;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--primary-dark);
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--primary-dark);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .button-prev {
    display: flex;
  }
}

.button-prev:hover {
  background-color: var(--color-brand);
  border: 1px solid var(--primary-light);
  fill: var(--primary-light);
}

.button-next {
  display: none;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--primary-dark);
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--primary-dark);
  cursor: pointer;
  rotate: 180deg;
}
@media screen and (min-width: 768px) {
  .button-next {
    display: flex;
  }
}

.button-next:hover {
  background-color: var(--color-brand);
  border: 1px solid var(--primary-light);
  fill: var(--primary-light);
}

.header {
  top: 32px;
  left: 0;
  width: 100%;
}
.header__container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__nav {
  display: flex;
  align-items: center;
  height: 106px;
  width: 100%;
  padding: 40px;
}
@media screen and (min-width: 1280px) {
  .header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 106px;
    width: 100%;
    gap: 200px;
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
}
.header__menu {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__menu {
    display: flex;
    gap: 56px;
    padding: 0;
    flex-grow: 1;
    justify-content: center;
    max-width: 550px;
  }
}
.header__button {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__button {
    display: block;
  }
}
.header__burger {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  margin-right: 40px;
  fill: var(--primary-light);
}
@media screen and (min-width: 1280px) {
  .header__burger {
    display: none;
  }
}
.header__icon {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__icon {
    display: flex;
    right: 105px;
    gap: 32px;
    fill: var(--primary-dark);
    padding: 0;
  }
}
.header__icon:hover {
  fill: var(--primary-light);
}

.link {
  color: var(--primary-dark);
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-brand);
}

.hero-section {
  margin-top: -106px;
  background-image: linear-gradient(39.38deg, #FFFFFF 30.62%, rgba(255, 255, 255, 0.850898) 41.31%, rgba(255, 255, 255, 0.193204) 58.65%, rgba(255, 255, 255, 0) 72.78%), url("../images/hero_pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 308px;
  z-index: -1;
  border-bottom-right-radius: 20%;
}
@media screen and (min-width: 768px) {
  .hero-section {
    height: 657.93px;
    border-bottom-right-radius: 30%;
  }
}
.hero-section__contant {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  max-width: 529px;
  gap: 14px;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .hero-section__contant {
    display: flex;
    padding-left: 160px;
    padding-top: 150px;
    flex-direction: column;
    align-items: flex-start;
    max-width: 529px;
    gap: 14px;
    z-index: 2;
  }
}
.hero-section__name {
  margin-bottom: 2px;
}
.hero-section__title {
  color: var(--color-brand);
  font-family: "Play", sans-serif;
  font-size: 54px;
  font-weight: 330;
  line-height: 0.8;
  margin-bottom: 26px;
}
@media screen and (min-width: 768px) {
  .hero-section__title {
    font-size: 140px;
    font-weight: 700;
  }
}
.hero-section__offer {
  font-size: 12px;
  max-width: 238px;
  text-align: center;
}

.changes-section {
  display: flex;
  gap: 32px;
}
.changes-section__contant {
  display: flex;
  flex-direction: column;
  max-width: 680px;
  max-height: 440px;
  text-align: left;
  padding: 40px;
  gap: 22px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .changes-section__contant {
    align-items: center;
    gap: 40px;
    padding-left: 100px;
  }
}
.changes-section__text {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 0;
}
@media screen and (min-width: 1280px) {
  .changes-section__text {
    font-size: 22px;
  }
}
.changes-section__box {
  display: none;
}
@media screen and (min-width: 1280px) {
  .changes-section__box {
    display: block;
  }
}
.changes-section__before, .changes-section__after {
  position: absolute;
  border-radius: 50%;
  width: 327px;
  height: 328px;
}
.changes-section__before {
  top: 740px;
  left: 850px;
}
.changes-section__after {
  top: 1070px;
  left: 990px;
}
.changes-section__star-1 {
  position: absolute;
  top: 840px;
  left: 1200px;
  width: 64px;
  height: 64px;
  animation: star 5s infinite;
}
.changes-section__star-2 {
  position: absolute;
  top: 1083px;
  left: 900px;
  width: 40px;
  height: 40px;
  animation: star 2s infinite;
}
.changes-section__star-3 {
  position: absolute;
  top: 1000px;
  left: 1180px;
  width: 16px;
  height: 16px;
  animation: star 2s ease-in-out infinite;
}
@keyframes star {
  0% {
    opacity: 0;
    rotate: 30deg;
    scale: 40%;
  }
  25% {
    opacity: 0.5;
    rotate: 30deg;
    scale: 60%;
  }
  50% {
    opacity: 0.5;
    rotate: 45deg;
    scale: 80%;
  }
  75% {
    opacity: 1;
    rotate: 45deg;
    scale: 100%;
  }
  100% {
    opacity: 1;
    rotate: 45deg;
    scale: 10%;
  }
}

.choice-section {
  margin-top: 38px;
}
@media screen and (min-width: 768px) {
  .choice-section {
    margin-top: 60px;
  }
}
.choice-section__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  right: 24px;
}
.choice-section__title {
  margin: 0 auto;
  text-align: center;
  max-width: 432px;
}
@media screen and (min-width: 768px) {
  .choice-section__title {
    margin-top: 40px;
  }
}
.choice-section__reason {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media screen and (min-width: 768px) {
  .choice-section__reason {
    display: flex;
    flex-direction: row;
    gap: 35px;
    height: 190px;
  }
}
@media screen and (min-width: 1280px) {
  .choice-section__reason {
    display: flex;
    flex-direction: row;
    gap: 56px;
    height: 181px;
  }
}
.choice-section__reason-box {
  display: flex;
  flex-direction: column;
  background-color: #e6e5e5;
  max-width: 316px;
  border-radius: 32px;
  padding: 29px 32px 24px 32px;
  text-align: center;
  gap: 8px;
}
.choice-section__reason-text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .choice-section__reason-text {
    font-size: 15px;
  }
}

.procedures-section__list {
  display: flex;
  gap: 15px;
}
.procedures-section__container {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.procedures-section__list {
  margin-bottom: 32px;
}
.procedures-section__card {
  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--primary-dark) 100%);
  height: 456px;
  max-width: 345px;
  border-top-left-radius: 4px;
  border-top-right-radius: 120px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 4px;
  transition: transform 0.3s;
}
.procedures-section__card:hover {
  transform: scale(1.05);
}
.procedures-section__image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 456px;
  border-top-left-radius: 4px;
  border-top-right-radius: 120px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 4px;
}
.procedures-section__title {
  text-align: center;
  margin-bottom: 40px;
}
.procedures-section__text {
  position: relative;
  top: 350px;
  left: 50px;
  font-size: 22px;
  font-weight: 400;
  color: var(--primary-light);
}

.swiper-slide {
  max-width: 355px;
  margin: 0;
}

.contact-section__title {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 0;
}
.contact-section__box {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .contact-section__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    margin-top: 48px;
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 1280px) {
  .contact-section__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    margin-top: 48px;
    padding-bottom: 96px;
  }
}
.contact-section__map {
  flex-shrink: 0;
  width: 390px;
  height: 232px;
  border-radius: 32px;
  border: none;
  margin-top: -14px;
}
@media screen and (min-width: 768px) {
  .contact-section__map {
    width: 400px;
    height: 470px;
    border-radius: none;
  }
}
@media screen and (min-width: 1280px) {
  .contact-section__map {
    width: 600px;
    height: 481px;
  }
}
.contact-section__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid var(--secondary-dark);
  background-color: var(--secondary-dark);
  color: var(--primary-light);
  width: 390px;
  height: 481px;
  border-radius: 32px;
}
@media screen and (min-width: 768px) {
  .contact-section__form {
    width: 400px;
  }
}
@media screen and (min-width: 1280px) {
  .contact-section__form {
    width: 423px;
  }
}
.contact-section__form-title {
  padding-top: 48px;
  max-width: 274px;
  margin: 0 auto;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.free {
  color: var(--color-brand);
}

.form-field {
  margin-top: 19px;
  margin-bottom: 16px;
  margin-left: 56px;
  margin-right: 57px;
}

.form-label {
  display: block;
}

.form-input {
  padding: 18px 32px;
  width: 310px;
  font-size: 13px;
  line-height: 1.17;
  border: 2px solid rgb(116, 114, 114);
  border-radius: 32px;
  background-color: transparent;
  transition: 0.5s;
}

.form-input:focus {
  border-color: rgb(116, 114, 114);
  background-color: rgb(116, 114, 114);
  outline: none;
}

/* Якщо потрібно зробити поле неактивним:
.form-input:disabled::placeholder{
    color: lightgray;
}
До input відповідного поля добавити потрібно disabled.
*/
.form-input::-moz-placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.17;
}
.form-input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus::-moz-placeholder {
  color: rgb(255, 255, 255);
}

.form-input:focus::placeholder {
  color: rgb(255, 255, 255);
}

.form-button {
  display: block;
  margin: 16px auto 10px;
  height: 53px;
  color: var(--primary-light);
  font-size: 18px;
  font-weight: 600;
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 32px;
  cursor: pointer;
  padding: 16px 32px;
  transition: 0.5s;
}

.form-button:hover {
  background-color: transparent;
  color: var(--primary-light);
}

.form-terms {
  color: rgb(116, 114, 114);
  margin: 8px auto 10px;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  max-width: 220px;
}

.form-terms-link {
  color: rgb(116, 114, 114);
  text-underline-offset: 2px;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  transition: opacity 0.8s, visibility 0.8s;
  z-index: 3;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 723px;
  height: 100%;
  max-height: 681px;
  padding-top: 42px;
  background-color: var(--primary-dark);
  border-radius: 48px;
  overflow: auto;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: var(--primary-dark);
  border: none;
}

.btn-close {
  background-color: var(--primary-dark);
  padding: 5px;
  transition: 0.8s;
}

.btn-close:hover {
  background-color: var(--color-brand);
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.form-field-modal {
  margin-bottom: 24px;
}

.modal-title {
  max-width: 435px;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  color: var(--primary-light);
}

.form-title-modal {
  color: var(--primary-light);
  padding-top: 40px;
  max-width: 274px;
  margin: 0 auto 32px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.section {
  padding: 48px 0;
}

.section-title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.15;
  margin-bottom: 0;
}
@media screen and (min-width: 1280px) {
  .section-title {
    font-size: 64px;
  }
}

.accent {
  color: var(--color-brand);
}

.footer {
  text-align: center;
  position: relative;
  background-color: var(--primary-dark);
}
@media screen and (min-width: 768px) {
  .footer {
    text-align: left;
  }
}
.footer__container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 56px;
  width: 100%;
  position: relative;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    gap: 160px;
    padding-left: 100px;
    left: -30px;
  }
}
.footer__container::after {
  display: none;
}
@media screen and (min-width: 1280px) {
  .footer__container::after {
    display: block;
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: "";
    background-image: url("../images/footer-photo.png");
    width: 248px;
    height: 150px;
    right: 0;
  }
}
.footer__nav, .footer__address {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .footer__nav, .footer__address {
    flex-basis: 50%;
    flex-direction: row;
  }
}
.footer__box {
  display: flex;
  flex-direction: column;
}
.footer__icon {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
}
.footer__address-link, .footer__link {
  color: var(--primary-light);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s;
}
.footer__link:hover {
  color: var(--color-brand);
}
.footer__address-copyright {
  font-size: 13px;
  color: #747272;
}
.footer__menu, .footer__address-list {
  margin: 0;
  padding: 0;
}
.footer__logo, .footer__menu, .footer__address-list, .footer__address-info {
  flex-grow: 1;
}
.footer__menu, .footer__address, .footer__address-info {
  line-height: 2;
}
.footer__address-icon {
  fill: var(--primary-light);
}
.footer__address-icon:hover {
  fill: var(--color-brand);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-light);
  transform: translateX(100%);
  transition: transform 0.3s;
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu__btn-close {
  position: absolute;
  top: 25px;
  right: 24px;
  background-color: transparent;
  border: none;
}
.mobile-menu__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
  padding-top: 25px;
}
.mobile-menu__menu {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  gap: 16px;
}
.mobile-menu__link {
  color: var(--primary-dark);
  text-decoration: none;
  transition: color 0.3s;
}
.mobile-menu__link:hover {
  color: var(--color-brand-normal);
}
.mobile-menu__icon {
  fill-opacity: var(--primary-light);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.pagination__button {
  width: 12px;
  height: 12px;
  background-color: var(--color-brand);
  border-radius: 50%;
  padding: 0;
}
.pagination__button--active {
  background-color: var(--primary-dark);
}

/*Box background*/
.background-box {
  position: absolute;
  width: 100%;
}

.box {
  width: 100%;
  margin: -69px auto 0;
  overflow-x: hidden;
}
@media screen and (min-width: 1280px) {
  .box {
    margin: 128px auto 0;
  }
}/*# sourceMappingURL=main.css.map */