.procedures-section{
    &__title{
        text-align: center;
        margin-bottom: 50px;
        margin-top: -15px;
    }
    &__card{
        background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--primary-dark) 100%);
        height: 456px;
        max-width: 345px;
        border-top-left-radius: 4px;
        border-top-right-radius: 120px;
        border-bottom-left-radius: 120px;
        border-bottom-right-radius: 4px;
        transition: transform 0.3s;
    }
    &__card:hover{
        transform: scale(1.05);
    }
    &__image{
        position: absolute;
        z-index: -1;
        top:0;
        left: 0;
        height: 456px;
        border-top-left-radius: 4px;
        border-top-right-radius: 120px;
        border-bottom-left-radius: 120px;
        border-bottom-right-radius: 4px;
    }
    &__text{
        position: relative;
        top: 350px;
        left: 50px;
        font-size: 22px;
        font-weight: 400;
        color: var(--primary-light);
    }
}
.swiper-wrapper{
    margin-left: 30px;

        @media screen and (min-width:$bp-tablet){
            margin-left: 50px;
            margin-right: 20px;
    }
}
